<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Lucid Solutions. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LucidSolutions\Kurl\Api\ClientInterface" type="LucidSolutions\Kurl\Model\Client" />
    <preference for="LucidSolutions\Kurl\Api\Data\ResultInterface" type="LucidSolutions\Kurl\Model\Result" />
</config>
